body {
  font-family:"Kievit","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  margin: 0 20px;
  padding: 0;
  background: #161514;
}
a {
  color: #0171A1;
}
ul {
  margin-left: -12px;
}
li {
  margin-bottom: 12px;
  line-height: 1.6;
  font-size: 0.9em;
}
button {
  background: #0171A1;
  color: white;
  border: 0;
  cursor: pointer;
}
button:hover {
  background: #2a94c1;
}
h1 small {
  font-size: 0.6em;
  color: #D0CDC8;
}
select,
input[type=text] {
  display: block;
  outline: none;
  font-size: 2em;
  margin-bottom: 12px;
}
input[type=text] {
  border: 1px solid #D0CDC8;
  width: 100%;
}
select {
  width: 30%;
}
form {
  background: #D0CDC8;
  padding: 20px;
  margin: 0 -20px -20px -20px;
}
form button {
  display: block;
  width: 100%;
  margin-top: 20px;
  font-size: 24px;
  clear: both;
}
.container {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  background: #E8E4E2;
}
.container > *:first-child {
  margin: -20px -20px 20px -20px;
  padding: 20px;
  background: #71695D;
  color: white;
}
.previous-gifs img {
  display: inline-block;
  margin: 1em;
}
@font-face{
  font-family:"Kievit";
  font-style:normal;
  font-weight:400;
  src:url("http://ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Book.woff") format("woff")
}
