<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="container">
    <h1>Here is your GIF!</h1>
    <div id="create-gif">
    	<img src="./static/gifs/{{gif_path}}.gif" alt="{{gif_path}}"><br />
    </div>
  </div>
  <div class="container previous-gifs">
    <h2>The last few created gifs:</h2>
    <img src="/static/gifs/{{previous_gifs[-2]}}" alt="{{previous_gifs[-2]}}">
    <img src="/static/gifs/{{previous_gifs[-3]}}" alt="{{previous_gifs[-3]}}">
    <img src="/static/gifs/{{previous_gifs[-4]}}" alt="{{previous_gifs[-4]}}">
    <img src="/static/gifs/{{previous_gifs[-5]}}" alt="{{previous_gifs[-5]}}">
  </div>
</body>
</html>
