<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="container">
    <h1>Enter a URL!<br />
      <small>(We'll grab the item and deliver you an animated gif)</small></h1>
    <div>
        <ul>
            <li>Drop in a URL for any multi-page item or sub-container of a collection in <a href="http://digitalcollections.nypl.org">NYPL's Digital Collections</a> -- generally looks like this: "http://digitalcollections.nypl.org/items/bc8d10b0-f034-0132-6e2a-58d385a7b928" or "http://digitalcollections.nypl.org/collections/classic-illustrated-zoologies-and-related-works-1550-1900#/?tab=navigation&amp;roots=1:f589aa60-c625-012f-1687-58d385a7bc34" for example </li>
            <li>This tool will only grab the first 150 pages of an item or a container -- otherwise these gifs could get very, very large!</li>
            <li>Good gifs take time -- it can take a while to deliver the given file, depending on the number of pages and the size. But hang in there, it'll show up!</li>
        </ul>
    </div>
    <form action="." method="POST">
        <input type="text" name="text" placeholder="Enter a Digital Collections URL">
        <select name="size">
          <optgroup>
            <option value="t">small</option>
            <option value="r">large</option>
          </optgroup>
        </select>
        <button type="submit" name="my-form">Send</button>
    </form>
  </div>
  <div class="container previous-gifs">
    <h2>The last few created gifs:</h2>
    <img src="/static/gifs/{{previous_gifs[-1]}}" alt="{{previous_gifs[-1]}}">
    <img src="/static/gifs/{{previous_gifs[-2]}}" alt="{{previous_gifs[-2]}}">
    <img src="/static/gifs/{{previous_gifs[-3]}}" alt="{{previous_gifs[-3]}}">
    <img src="/static/gifs/{{previous_gifs[-4]}}" alt="{{previous_gifs[-4]}}">
  </div>
</body>
</html>
